:root {
  --general-text: #000;
  --white-text: #fff;
  --general-bg: #fff;
  --green-bg: #B9FF66;
  --black-bg: #191a23;
  --gray-bg: #f3f3f3;
  --transition: all 0.4s;
}

html {
  scroll-behavior: smooth;
  /* добавить падинг для скрола чтобы был запас */
}

.body {
  font-family: "Space Grotesk", "Montserrat", sans-serif;
  color: var(--general-text);
  background: var(--general-bg);
  font-weight: 300;
}

.body--opened-menu {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black-bg);
  color: var(--white-text);
  border-radius: 14px;
  font-size: 20px;
  line-height: 1.4;
  height: 62px;
  padding: 3px 15px;
}


.header__top {
  padding-top: 60px;
}

.header__hero,
.main__logotypes,
.main__services,
.main__case-studies,
.main__accordion,
.main__cards-group,
.main__testimonials {
  padding-top: 80px;
}

/* ========================= */

.main__subheading {
  padding-top: 140px;
}

.main__card {
  padding-top: 117px;
}

.subheading__inner {
  display: flex;
  align-items: center;
  gap: 40px;
}

.subheading__title {
  display: inline-block;
  font-size: 40px;
  line-height: 1.2;
  border-radius: 7px;
  background: var(--green-bg);
  max-width: 418px;
  padding: 0px 7px 0px 7px;
}

.subheading__text {
  font-size: 18px;

  font-size: 18px;
  line-height: 1.2;
  max-width: 580px;
}

/* =============================================== */


.modal {
  position: fixed;
  inset: 0;
  backdrop-filter: brightness(0.6);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

.modal--opened {
  visibility: visible;
  opacity: 1;
}

.modal__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -65px;
}

.modal__img img {
  width: 65%;
}

.modal__window {
  position: relative;
  background: var(--general-bg);
  border-radius: 20px;
  max-width: 500px;
  padding: 0 60px 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: transparent;
}

.modal__close svg:hover path,
.modal__close svg:hover rect {
  stroke: var(--green-bg);
}

.modal__heading {
  margin-bottom: 30px;
}

.modal__title {
  color: var(--accent-text);
  font-family: Gabriola;
  font-size: 42px;
  line-height: 0.9;
  margin-bottom: 10px;
  text-align: center;
}

.modal__text {
  font-size: 18px;
  line-height: 1.2;
}

.modal__form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.modal__input {
  width: 100%;
  display: block;
  background: transparent;
  padding: 19px 28px 19px 28px;
  height: 62px;
  border: 1px solid rgb(172, 144, 122);
  border-radius: 100px;
  font-size: 16px;
  transition: var(--transition);
}

.modal__input::placeholder {
  transition: var(--transition);
}

.modal__input:hover::placeholder {
  color: var(--green-bg);
}


.modal__button {
  max-width: 250px;
  margin-top: 10px;
  transition: all 0.4s;
}

.modal__button:hover {
  color: var(--green-bg);
  transform: scale(0.95);

}
