@media (max-width: 1300px) {

  .header__top-inner {
    gap: 150px;
    justify-content: space-between;
  }

  .header__request {
    padding: 15px 28px;
  }
}

@media (max-width: 1200px) {

  .nav {
    display: flex;
    position: fixed;
    flex-direction: column;
    padding: 50px;

    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
    background: var(--green-bg);
    inset: 0;
    padding: 200px 50px;
  }


  .nav__list {
    flex-direction: column;
    gap: 2vh;
  }

  .nav__item {
    padding: 5px 25px;
  }

  .body--opened-menu .nav {
    visibility: visible;
    opacity: 1;
  }

  .burger-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }

  .nav__list {
    display: none;
  }

  .body--opened-menu .nav__list {
    display: flex;
  }

  .header__top-inner {
    gap: 80px;
  }

  .nav__item {
    font-size: 40px;
  }

  .header__logo {
    font-size: 40px;
  }

  .header__logo img {
    width: 40px;
  }

  /* ================ */

  .logotypes__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;
  }

  /* ================ */

  .services__list {
    gap: 30px;
  }

  .services__item--seo, .services__item--em, .services__item--ppc, .services__item--cc, .services__item--smm, .services__item--aat {
    gap: 40px;
    padding: 30px;
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .cards-group__img {
    right: -4%;
  }
}


@media (max-width: 1000px) {
  .hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 15px;
  }

  .hero__title {
    order: 1;
  }

  .hero__img {
    order: 2;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    order: 3;
    align-items: center;
    justify-content: center;
  }

  .hero__text {
    font-size: 26px;
  }

  .hero__button {
    display: flex;
    flex-shrink: 0;
  }

  /* ================ */

  .subheading__inner {
    justify-content: center;
  }

  .services__list {
    grid-template-columns: 700px;
    grid-auto-rows: 312px;
    gap: 40px;

  }

  .main__services {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* ================ */

  .main__card {
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .card__inner {
    align-self: center;
    justify-content: center;
    gap: 0;
    max-width: 700px;
    width: 100%;
    padding: 30px 100px;
  }

  .card__button {
    align-self: center;
    text-align: center;
  }

  .card__img img {
    display: none;
  }

  /* ================ */
  
  .cards-group__inner {
    display: grid;
    justify-items: center;
}

  .cards-group__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 30px;
  }

  .cards-group__item {
    max-width: none;
    align-items: start;
  }

  .cards-group__item {
    padding: 30px 30px;
    max-width: 387px;
    align-items: center;
    gap: 56px;
}

  .cards-group__content {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    gap: 20px;
    position: relative;
  }
}


@media (max-width: 900px) {
  .nav {
    padding-top: 170px;
  }

  .nav__item {
    font-size: 24px;
  }

  .header__logo {
    font-size: 30px;
  }

  .header__logo img {
    width: 30px;
  }

}

@media (max-width: 800px) {
  .nav {
    padding-top: 150px;
  }

  .subheading__inner {
    justify-content: center;
  }

  .services__list {
    grid-template-columns: 1fr;
  }

  /* ======================= */
  .card__inner {
    padding: 30px;
    max-width: 522px;
  }

  /* ======================= */
  .case-studies__inner {
    flex-direction: column;
    gap: 35px;
    padding: 40px 50px;
    align-items: center;
    justify-content: center;
  }

  .case-studies__block {
    position: relative;
    max-width: 522px;
    flex: 1;
  }

  .case-studies__block:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 16vh;
    left: 0;
    height: 1px;
    width: 100%;
    background: var(--green-bg);
  }

  /* ======================= */

  .accordion-list__toggle-button {
    flex-shrink: 0;
  }

  .accordion-list__control {
    gap: 30px;
  }

}

@media (max-width: 700px) {
  .cards-group__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px 30px;
}

.cards-group__item {
  padding: 30px 30px;
  max-width: 500px;
  align-items: start;
  gap: 40px;
}

.cards-group__content {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-self: center;
}
}

@media (max-width: 600px) {
  .subheading__inner {
    flex-direction: column;
  }

  /* ======================== */
  .case-studies__inner {
    padding: 35px 30px;
  }
}

@media (max-width: 550px) {
  .hero__title {
    font-size: 44px;
  }

  .hero__text {
    font-size: 20px;
  }

  /* ================= */

  .services__item--seo, .services__item--em, .services__item--ppc, .services__item--cc, .services__item--smm, .services__item--aat {
    gap: 25px;
    padding: 25px;
  }

  .services__list {
    grid-template-columns: minmax(100px, 530px);
  }

  .services__content p {
    font-size: 24px;
  }

  .services__img {
    align-self: end;
  }

  /* ================= */
  .card__inner {
    display: flex;
    align-items: center;
    padding: 30px 25px;
  }

  .card__title {
    text-align: center;
  }

  /* ================= */
  .case-studies__block {
    gap: 5px;
  }

  /* ================= */

  .accordion-list__control {
    padding: 35px 30px;
  }

  .accordion-content {
    padding: 0 30px 30px;
  }

  .accordion-list__title {
    font-size: 26px;
    gap: 20px;
  }

  .accordion-list__title span {
    font-size: 30px;
  }

  .accordion-list__toggle-button {
    width: 30px;
    height: 30px;
  }

  .accordion-list__toggle-button .vertical, .accordion-list__toggle-button .horizontal {
    position: absolute;
    width: 17px;
    height: 3px;
    background: var(--general-text);
    transition: var(--transition);
  }
}

@media (max-width: 450px) {

  .header__logo img {
    width: 30px;
  }

  .header__top-inner {
    gap: 40px;
  }

  .nav__item {
    font-size: 22px;
  }

  .header__logo {
    font-size: 22px;
  }

  /* ======================== */
  .learn-more {
    display: none;
  }

  /* ======================== */

  .case-studies__block:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 19vh;
    left: 0;
    height: 1px;
    width: 100%;
    background: var(--green-bg);
  }

  /* ======================== */

  .accordion-list__title {
    font-size: 18px;
    gap: 20px;
  }

  .accordion-list__title span {
    font-size: 19px;
  }

  .accordion-list__control {
    gap: 18px;
  }

  .accordion-list__toggle-button {
    width: 30px;
    height: 30px;
  }

  .accordion-content {
    padding: 0 25px 18px;
  }

  .accordion-content__title {
    font-size: 18px;
  }
}

@media (max-width: 400px) {

  .services__item--seo, .services__item--em, .services__item--ppc, .services__item--cc, .services__item--smm, .services__item--aat {
    gap: 0px;
    padding: 22px;
  }

  .services__content p {
    font-size: 20px;
  }

  /* ======================== */

  .card__inner {
    display: flex;
    align-items: center;
    padding: 25px 20px;
  }

  .card__title {
    font-size: 20px;
  }

  .card__text {
    font-size: 18px;
  }

  .card__button {
    font-size: 18px;
  }


}